[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "test repo for testing commands "
[access "refs/*"]
	owner = group user/GUPTANEE
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/GUPTANEE
	label-Verified = -1..+1 group user/GUPTANEE
	push = group user/GUPTANEE
	read = group user/GUPTANEE
	rebase = group user/GUPTANEE
	removeReviewer = group user/GUPTANEE
	submit = group user/GUPTANEE
[access "refs/heads/*"]
	create = group user/GUPTANEE
	push = +force group user/GUPTANEE
	pushMerge = group user/GUPTANEE
	read = group user/GUPTANEE
[access "refs/tags/*"]
	push = group user/GUPTANEE
	push = +force group user/GUPTANEE
